@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erreurr.</h1>
<h2 class="text-danger">Une erreur est survenu lors du traitement de la requette.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de la requette:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Mode de Dévelopement</h3>
<p>
    Le passage à l'environnement de <strong>Développement</strong> permet d'afficher des informations plus détaillées sur l'erreur qui s'est produite.
</p>
<p>
    <strong>L'environnement de développement ne doit pas être activé pour les applications déployées.</strong>
    Il peut en résulter l'affichage d'informations sensibles provenant d'exceptions pour les utilisateurs finaux.
    Pour le débogage local, activez l'environnement de <strong>Dévelopement</strong> en définissant la variable d'environnement <strong>ASPNETCORE_ENVIRONMENT</strong> sur <strong>Development</strong>
    et en redémarrant l'application.
</p>
